body {
  background-color: #a4a3f6;
  color: #1817ea;
}

p {
  font-weight: 700;
  font-size: 20px;
}

.rock,
.paper {
  margin-right: 10px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play-again {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #a4a3f6;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 50%;
  text-align: center;
}

/* CSS */
button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
}
